<div class="container">
    <div class="jumbotron form-container">
        <div class="heading" id="contact">Add Purchase</div>

        <%= form_for([@subvice, @purchase]) do |f| %>    
            <div class="field">
                <%= f.text_field :quantity, required: true, placeholder: 'Quantity', class: 'form-control' %>
            </div>

            <div class="field">
                <%= f.text_field :cost, required: true, placeholder: 'Cost', class: 'form-control' %>
            </div>

            <div class="actions">
                <%= f.submit 'Create Purchase', class: 'btn btn-lg btn-primary' %>
            </div>
        <% end %>
    </div>
</div>
