<div class="container">
    <div class="jumbotron">
        <div class="heading" id="about">About</div>
    </div>
    
    <a href="3box">Click</a>
    <div id="box">fade in...</div>
    
    <div class="about one">Make a commitment to track your vice</div>
    <div class="about two">Set goals to achieve through your journey</div>
    <div class="about three">Measure your progress over time</div>    

    
</div>

<script>
    
</script>
