<div class="container">
    <div class="jumbotron">
        <div class="heading" id="about">About</div>
    </div>

    <img class="bird" onload="this.style.opacity='1';" src="http://digital-photography-school.com/wp-content/uploads/2007/02/images/bird-photography.jpg" />
    
    <div class="about one">Make a commitment to track your vice</div>
    <div class="about two">Set goals to achieve through your journey</div>
    <div class="about three">Measure your progress over time</div>    

    
</div>


