<div class="container">
    <div class="jumbotron">
            <div class="heading" id="about">ABOUT</div>
    </div>

    <div>
        <div class="heading">How does Vice Tracker work?</div>
        <ul class="about-insentives">
            <li>You have the desire to change</li>
            <li>Sign up. Make a commitment to diligently track your vice</li>
            <li>VT will provide you with goals to achieve through your journey</li>
        </ul>

        <div class="heading">Why should I use Vice Tracker?</a></div>
        <ul class="about-insentives">
            <li>See immediate cost savings</li>
            <li>Over time see health benefits</li>
            <li>Feel better about yourself by actively measuring your vice use</li>
        </ul>
    </div>
</div>
