<div class="container">
    <div class="jumbotron">
        <h1 id="about">About</h1>
    </div>  
</div>

<section class="about-section" id="timeline">
    <article>timeline</article>
</section>
<section class="about-section" id="vices">
    <article>add vice, subvices and make purchases</article>
</section>
<section class="about-section" id="overview">
    <article>see overview of vice acivity⁄</article>
</section>
<section class="about-section" id="charts">
    <article>charts</article>
</section>
<section class="attribution">
    <article>Mountain Climber designed by Juan Pablo Bravo from the Noun Project</article>
</section>