<div class="container">
    <div class="jumbotron">
        <h1 id="about">About</h1>
    </div>  
</div>

<div class="container">
    <div class="about-div sub-heading" id="timeline">
        <span>view activity across your vices on your personal timeline </span>
    </div>
    <div class="about-div sub-heading" id="vices">
        <span>add vices, subvices and make purchases</span>
    </div>
    <div class="about-div sub-heading" id="charts">
        <span>visualise your progress on charts</span>
    </div>
</div>

<div class="about-div attribution">
    <span>Mountain Climber designed by Juan Pablo Bravo from the Noun Project</span>
</div>