<div class="container">
        <div class="jumbotron">
            <div class="get-started heading">Tracking your vices,<br /> made easy.</div>
            <div class="get-started"><%= link_to "Join, it's free", new_user_registration_path, :class => "btn btn-primary btn-large" %></div>
        </div>
</div>
    <!--  Carousel - consult the Twitter Bootstrap docs at 
      http://twitter.github.com/bootstrap/javascript.html#carousel -->

    <div id="home-slider" class="carousel slide" data-ride="carousel"><!-- class of slide for animation -->
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#home-slider" data-slide-to="0" class="active"></li>
        <li data-target="#home-slider" data-slide-to="1"></li>
        <li data-target="#home-slider" data-slide-to="2"></li>
      </ol>  

      <div class="carousel-inner">
        <div class="item active"><!-- class of active since it's the first item -->
          <img src="http://placehold.it/1200x480" alt="" />
          <div class="carousel-caption">
            <p>Vice Tracker - The easy way to stay on top.</p>
          </div>
        </div>
        <div class="item">
          <img src="http://placehold.it/1200x480" alt="" />
          <div class="carousel-caption">
            <p>Why speculate, when you can track.</p>
          </div>
        </div>
        <div class="item">
          <img src="http://placehold.it/1200x480" alt="" />
          <div class="carousel-caption">
            <p>Knowledge is power.</p>
          </div>
        </div>
      </div><!-- /.carousel-inner -->
      <!--  Next and Previous controls below
            href values must reference the id for this carousel -->
        <a class="carousel-control left" href="#home-slider" data-slide="prev"></a>
        <a class="carousel-control right" href="#home-slider" data-slide="next"></a>
    </div><!-- /.carousel --> 

<div class="container">
    <div class="home-insentives">
        <div class="sub-heading home-insentives-heading"><a href="#" class="home-insentive-selected" id="how">How does Vice Tracker work?</a></div>
        <div class="sub-heading home-insentives-heading"><a href="#" id="why">Why should I use Vice Tracker?</a></div>
    </div>
    <div class="home-insentives-list">
        <ul id="insentives-list-left">
            <li>Make a commitment to track your vice</li>
            <li>Set goals to achieve through your journey</li>
            <li>Measure your progress over time</li>
        </ul>
        <ul id="insentives-list-right">
            <li>See immediate cost savings</li>
            <li>See health benefits over time</li>
            <li>Feel better by actively measuring your vices</li>
        </ul>
    </div>
</div>

<div class="container">
        <p id="foot">&copy; vice tracker 2014</p>
</div>

<script>

    $('#insentives-list-right').hide();
    $('#how').click(function(e) {
        e.preventDefault();
        // $('#insentives-list-right').css("display", "none");
        $('#insentives-list-right').hide();
        $('#insentives-list-left').fadeIn("slow");
        // $('#insentives-list-left').css("display", "inline");
        $('#how').addClass("home-insentive-selected");
        $('#why').removeClass("home-insentive-selected");
    });
    $('#why').click(function(e) {
        e.preventDefault();
        $('#insentives-list-left').hide();
        $('#insentives-list-right').fadeIn("slow");
        // $('#insentives-list-right').css("display", "inline");
        // $('#insentives-list-left').css("display", "none");
        $('#how').removeClass("home-insentive-selected");
        $('#why').addClass("home-insentive-selected");
    });

    $( ".home-insentives-list > ul > li" ).mouseover( function() {
        $(this).addClass('shadow');
    });

    $( ".home-insentives-list > ul > li" ).mouseout( function() {
        $(this).removeClass('shadow');
    });

</script>
