<div class="container">
        <div class="jumbotron">
            <div class="get-started heading">Tracking your vices,<br /> made easy.</div>
            <div class="get-started"><%= link_to "Join, it's free", new_user_registration_path, :class => "btn btn-primary btn-large" %></div>
        </div>
</div>
    <!--  Carousel - consult the Twitter Bootstrap docs at 
      http://twitter.github.com/bootstrap/javascript.html#carousel -->

    <div id="home-slider" class="carousel slide" data-ride="carousel"><!-- class of slide for animation -->
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#home-slider" data-slide-to="0" class="active"></li>
        <li data-target="#home-slider" data-slide-to="1"></li>
        <li data-target="#home-slider" data-slide-to="2"></li>
      </ol>  

      <div class="carousel-inner">
        <div class="item active"><!-- class of active since it's the first item -->
          <img src="http://www.wallpapersdesign.net/wallpapers/2013/12/Walking-On-The-Top-Of-The-Mountain-768x1366.jpg" alt="" />
          <div class="carousel-caption">
            <p>The easy way to stay on top of things.</p>
          </div>
        </div>
        <div class="item">
          <img src="http://www.wallsfeed.com/wallpapers/2012/12/Track-Sunset-Los-Angeles-USA-768x1366.jpg" alt="" />
          <div class="carousel-caption">
            <p>Why speculate, when you can track.</p>
          </div>
        </div>
        <div class="item">
          <img src="http://wallpapersus.com/wallpapers/2012/11/House-On-The-Rock-Library-768x1366.jpg" alt="" />
          <div class="carousel-caption">
            <p>Make an informed assessment.</p>
          </div>
        </div>
      </div><!-- /.carousel-inner -->
      <!--  Next and Previous controls below
            href values must reference the id for this carousel -->
        <a class="carousel-control left" href="#home-slider" data-slide="prev"></a>
        <a class="carousel-control right" href="#home-slider" data-slide="next"></a>
    </div><!-- /.carousel --> 

<div class="container">
    <div class="home-insentives">
        <div class="sub-heading home-insentives-heading"><a href="#" class="home-insentive-selected" id="how">How does Vice Tracker work?</a></div>
        <div class="sub-heading home-insentives-heading"><a href="#" id="why">Why should I use Vice Tracker?</a></div>
    </div>
    <div class="home-insentives-list">
        <ul id="insentives-list-left">
            <li>
              <div class="step-number">1</div>
              <div class="step-description">Make a commitment to track your vice</div>
            </li>
            <li>
              <div class="step-number">2</div>
              <div class="step-description">Set goals to achieve through your journey</div>
            </li>
            <li>
              <div class="step-number">3</div>
              <div class="step-description">Measure your progress over time</div>
            </li>
        </ul>
        <ul id="insentives-list-right">
            <li>See immediate cost savings</li>
            <li>See health benefits over time</li>
            <li>Feel better by actively measuring your vices</li>
        </ul>
    </div>
</div>

<div class="container">
        <p id="foot">&copy; vice tracker 2014</p>
</div>

<script>

    $('#insentives-list-right').hide();
    $('#how').click(function(e) {
        e.preventDefault();
        $('#insentives-list-right').hide();
        $('#insentives-list-left').fadeIn("slow");
        $('#how').addClass("home-insentive-selected");
        $('#why').removeClass("home-insentive-selected");
    });
    $('#why').click(function(e) {
        e.preventDefault();
        $('#insentives-list-left').hide();
        $('#insentives-list-right').fadeIn("slow");
        $('#how').removeClass("home-insentive-selected");
        $('#why').addClass("home-insentive-selected");
    });

    $( ".step-description" ).mouseover( function() {
        $(this).prev().addClass('step-number-grow');
    });

    $( ".step-description" ).mouseout( function() {
        $(this).prev().removeClass('step-number-grow');
    });

</script>
