<div class="container">
        <div class="jumbotron">
            <div class="get-started heading">Tracking your vices,<br /> made easy.</div>
            <div class="get-started"><%= link_to "Join, it's free", new_user_registration_path, :class => "btn btn-primary btn-large" %></div>
        </div>
</div>
    <!--  Carousel - consult the Twitter Bootstrap docs at 
      http://twitter.github.com/bootstrap/javascript.html#carousel -->

    <div id="home-slider" class="carousel slide" data-ride="carousel"><!-- class of slide for animation -->
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#home-slider" data-slide-to="0" class="active"></li>
        <li data-target="#home-slider" data-slide-to="1"></li>
        <li data-target="#home-slider" data-slide-to="2"></li>
      </ol>  

      <div class="carousel-inner">
        <div class="item active"><!-- class of active since it's the first item -->
          <img src="http://www.wallpapersdesign.net/wallpapers/2013/12/Walking-On-The-Top-Of-The-Mountain-768x1366.jpg" alt="" />
          <div class="carousel-caption">
            <p>The easy way to stay on top of things.</p>
          </div>
        </div>
        <div class="item">
          <img src="http://www.wallsfeed.com/wallpapers/2012/12/Track-Sunset-Los-Angeles-USA-768x1366.jpg" alt="" />
          <div class="carousel-caption">
            <p>Why speculate, when you can track.</p>
          </div>
        </div>
        <div class="item">
          <img src="http://wallpapersus.com/wallpapers/2012/11/House-On-The-Rock-Library-768x1366.jpg" alt="" />
          <div class="carousel-caption">
            <p>Make an informed assessment.</p>
          </div>
        </div>
      </div><!-- /.carousel-inner -->
      <!--  Next and Previous controls below
            href values must reference the id for this carousel -->
        <a class="carousel-control left" href="#home-slider" data-slide="prev"></a>
        <a class="carousel-control right" href="#home-slider" data-slide="next"></a>
    </div><!-- /.carousel --> 

<div class="container">
    <div class="home-insentives">
        <div class="sub-heading home-insentives-heading"><a href="#" class="home-insentive-selected" id="how">How does Vice Tracker work?</a></div>
        <div class="sub-heading home-insentives-heading"><a href="#" id="why">Why should I use Vice Tracker?</a></div>
    </div>
    <div class="home-insentives-list">
        <ul id="insentives-list-left">
            <li>
              <div class="why-number">1</div>
              <div class="why-description">Make a commitment to track your vice</div>
            </li>
            <li>
              <div class="why-number">2</div>
              <div class="why-description">Set goals to achieve through your journey</div>
            </li>
            <li>
              <div class="why-number">3</div>
              <div class="why-description">Measure your progress over time</div>
            </li>
        </ul>
        <ul id="insentives-list-right">
            <li>
              <div>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve" class="icon">
                <path id="coin-2-icon" d="M256,90c91.741,0,166,74.243,166,166c0,91.742-74.243,166-166,166c-91.739,0-166-74.243-166-166
                  C90,164.259,164.244,90,256,90 M256,50C142.229,50,50,142.229,50,256c0,113.771,92.229,206,206,206c113.771,0,206-92.229,206-206
                  C462,142.229,369.771,50,256,50L256,50z M274.091,347.732v22.817h-32.645v-20.408c-15.669-1.341-36.359-7.021-51.604-15.419
                  l10.802-37.622c17.263,6.733,42.45,15.2,61.075,11.134c16.292-3.553,20.397-18.18,1.224-26.443
                  c-16.195-7.272-71.928-14.875-71.928-61.486c0-19.31,14.474-45.849,50.432-53.698v-23.156h32.645v21.25
                  c13.99,0.961,28.261,3.545,44.741,8.698c-1.649,7.2-8.772,38.448-8.772,38.448c-11.38-3.873-29.981-10.643-47.84-9.639
                  c-22.065,1.24-23.646,17.354-8.771,24.794c30.515,13.799,74.71,25.534,74.71,66.689
                  C328.202,325.496,303.424,343.608,274.091,347.732z"/>
                </svg>
              </div>
              <div class="how-description money-description">See immediate cost savings</div>
            </li>
            <li>
              <div>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve" class="icon">
                <path id="plus-5-icon" d="M363.68,288.439h-76.24v76.238h-58.877v-76.238h-76.24v-58.877h76.24v-76.24h58.877v76.24h76.24V288.439z
                   M462,256c0,113.771-92.229,206-206,206S50,369.771,50,256S142.229,50,256,50S462,142.229,462,256z M422,256
                  c0-91.755-74.258-166-166-166c-91.755,0-166,74.259-166,166c0,91.755,74.258,166,166,166C347.755,422,422,347.741,422,256z"/>
                </svg>
              </div>
              <div class="how-description health-description">See health benefits over time</div>
            </li>
            <li>
              <div>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve" class="icon">
                <path id="navigation-8-icon" d="M166.959,208.253l154.729-56.81l-57.5,155.42l-18.896-79.023L166.959,208.253z M424.5,218.5
                  c0,94.5-81.93,156.833-168.5,243.5C169.43,375.333,87.5,313,87.5,218.5C87.5,125.439,162.939,50,256,50S424.5,125.439,424.5,218.5z
                   M379.625,213.334c0-68.276-55.349-123.625-123.625-123.625c-68.275,0-123.624,55.349-123.624,123.625
                  c0,68.275,55.349,123.624,123.624,123.624C324.276,336.958,379.625,281.609,379.625,213.334z"/>
                </svg>
              </div>
              <div class="how-description track-description">Feel better by actively measuring your vices</div>
            </li>
        </ul>
    </div>
</div>

<div class="container">
        <p id="foot">&copy; vice tracker 2014</p>
</div>

<script>

    $('#insentives-list-right').hide();
    $('#how').click(function(e) {
        e.preventDefault();
        $('#insentives-list-right').hide();
        $('#insentives-list-left').fadeIn("slow");
        $('#how').addClass("home-insentive-selected");
        $('#why').removeClass("home-insentive-selected");
    });
    $('#why').click(function(e) {
        e.preventDefault();
        $('#insentives-list-left').hide();
        $('#insentives-list-right').fadeIn("slow");
        $('#how').removeClass("home-insentive-selected");
        $('#why').addClass("home-insentive-selected");
    });

    $(".why-description").mouseover( function() {
        $(this).prev().addClass('why-number-grow');
    });

    $(".why-description").mouseout( function() {
        $(this).prev().removeClass('why-number-grow');
    });

    $(".money-description").mouseover(function() {
      $(this).prev().addClass('money');
    })

    $(".money-description").mouseout(function() {
      $(this).prev().removeClass('money');
    })

    $(".health-description").mouseover(function() {
      $(this).prev().addClass('health');
    })

    $(".health-description").mouseout(function() {
      $(this).prev().removeClass('health');
    })

    $(".track-description").mouseover(function() {
      $(this).prev().addClass('track');
    })

    $(".track-description").mouseout(function() {
      $(this).prev().removeClass('track');
    })
</script>
