<div class="jumbotron new-vice">
    <%= form_for(@vice) do |f| %>
        <h1>New Vice</h1>
        
        <div class="field">
            <%= f.collection_select :id, Vice.all, :id, :name, :class => "form-control" %>
        </div>
        <div class="actions">
            <%= f.submit "Add Vice", :class => "btn btn-lg btn-primary" %>
        </div>
    <% end %>
</div>
