.sign-box {
    max-width: 500px;

    .heading {
        margin: 0 0 15px 0;
    }

    .form-control {
        height: 40px;
        font-size: 20px;
    }

    div {
        margin: 0 0 15px 0;
    }

    .line {
        border-bottom: 1px solid #666;
    }
}