.contact-box {
    max-width: 800px;

    .heading {
        margin: 0 0 15px 0;
    }

    div {
        display: block;
    }

    .form-control {
        display: inline-block;
        float: left;
        height: 40px;
        font-size: 20px;
        margin: 0 15px 15px 0;

        &:focus {
        box-shadow: none;
        }
    }

    .form-label {
        display: inline-block;
        float: left;
        height: 40px;
        font-size: 20px;
        margin: 0 15px 15px 0;
        width: 200px;
    }

    .name {
        width: 415px;
    }

    .email {
        width: 415px;
    }

    .message {
        width: 415px;
        height: 150px;
    }
}

