.jumbotron {
    padding: 100px 20px 50px 20px;
    background: white;
}

.carousel-inner img {
    min-width: 100%;
    margin: 0 auto;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.get-started {
    display: inline;

    .btn-primary {
        float: right;
        margin-left: 20px;
        width: 275px;
        height: 50px;
        font-weight: 200;
        font-size: 30px;
    }
}

.home-insentives {
    margin: 20px 0;
    text-align: center;

    a {
        color: #bababa;
        transition: color .25s ease-in-out;
        -moz-transition: color .25s ease-in-out;
        -webkit-transition: color .25s ease-in-out;
    }

    a:hover {
        text-decoration: none;
        color: black;
    }

    .home-insentive-selected {
        color: black;
        border-bottom: 2px solid black;
    }

    .home-insentives-heading {
        display: inline-block;
        padding: 0 10px;
    }
}

.home-insentives-list {
    text-align: center;

    ul {
        list-style-type: none;
        padding: 10px;
    }

    li {

        display: inline-block;

        .why-number {
            display: inline-block;
            margin: 15px;
            color: rgb(66, 139, 202);
            border: 2px solid rgb(66, 139, 202);
            border-radius: 50%;
            height: 40px;
            width: 40px;
            padding: 5px;
            transition: 0.1s ease-in-out;
        }

        .why-number-grow {
          -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2);
          background-color: rgb(66, 139, 202);
          color: #fff;
        }

        .why-description {
            width: 200px;
            height: 150px;
            padding: 40px 10px;
            margin: 10px 50px;
            display: block;
            background-color: #e9e9e9;
            border: 2px solid black;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px; /* future proofing */
            -khtml-border-radius: 10px; /* for old Konqueror browsers */

            transition: box-shadow .2s ease-in-out,
                        background-color .2s ease-in-out;
            -moz-transition: box-shadow .2s ease-in-out,
                        background-color .2s ease-in-out;
            -webkit-transition: box-shadow .2s ease-in-out,
                        background-color .2s ease-in-out;

        }
        .why-description:hover {
            box-shadow: 0 0 15px 2px #bababa;
            background-color: #fff;
        }

        .how-description {
            width: 200px;
            height: 150px;
            padding: 40px 10px;
            margin: 10px 50px;
            display: block;
            background-color: #e9e9e9;
            border: 2px solid black;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px; /* future proofing */
            -khtml-border-radius: 10px; /* for old Konqueror browsers */

            transition: box-shadow .2s ease-in-out,
                        background-color .2s ease-in-out;
            -moz-transition: box-shadow .2s ease-in-out,
                        background-color .2s ease-in-out;
            -webkit-transition: box-shadow .2s ease-in-out,
                        background-color .2s ease-in-out;

        }
        .how-description:hover {
            box-shadow: 0 0 15px 2px #bababa;
            background-color: #fff;
        }

        .icon {
            display: inline-block;
            margin: 15px;
            height: 40px;
            width: 40px;
            transition: all 0.1s ease-in-out;
        }

        .money {
            fill: green;
        }

        .health {
            fill: red;
        }

        .track {
            fill: orange;
        }
    }

    .shadow {
        box-shadow: 0 0 15px 2px #bababa;
        background-color: #fff;
    }

}

#foot {
    border-top: 2px solid black; 
    text-align: center;
}

//---------------------------------------------------------------------
// Contact Page
//---------------------------------------------------------------------


.contact-box {
    max-width: 600px;

    .heading {
        margin: 0 0 15px 0;
    }

    .form-control {
        display: inline-block;
        float: left;
        height: 40px;
        font-size: 20px;
        margin: 0 15px 15px 0;
    }

    .name {
        width: 200px;
    }

    .email {
        width: 415px;
    }

    .message {
        width: 415px;
        height: 150px;
    }
}


//---------------------------------------------------------------------
// About Page
//---------------------------------------------------------------------

.fade-in {
    position: absolute;
    opacity:0;
    -moz-transition: opacity 1s ease-in;
    -webkit-transition: opacity 1s ease-in; 
    transition: opacity 2s ease-in;    
}

.smokes {
    height: 250px;
    left: 250px;
    top: 300px;
}

.beer {
    height: 250px;
    left: 520px;
    top: 300px;
}

.food {
    height: 300px;
    left: 800px;
    top: 250px;
}

.about {
    position: absolute;
    top: 600px;
    left: 250px;
    width: 200px;
    height: 100px;
    text-align: center;
}

.two {
    left: 550px;
}

.three {
    left: 950px;
}



