.carousel-inner img {
    min-width: 100%;
    margin: 0 auto;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-frame {
    height: 500px;
    padding: 100px 0 0 0;
}

.carousel-icon {
    fill: #fff;
}

.carousel-item {
    display: inline-block;
    width: 350px;
}

.green {
    background-color: #7ac943;
}

.orange {
    background-color: #ff931e;
}

.pink {
    background-color: #ff7bac;
}

.carousel-content {
    padding: 50px 120px;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
    color: #fff;

    span {
        margin: 20px 0;
    }
}

.get-started {
    display: block;

    .btn-primary {
        width: 275px;
        height: 50px;
        font-weight: 200;
        font-size: 30px;
    }
}

.home-insentives {
    margin: 20px 0;
    text-align: center;

    a {
        color: #bababa;
        transition: color .1s ease-in-out;
        -moz-transition: color .1s ease-in-out;
        -webkit-transition: color .1s ease-in-out;
    }

    a:hover {
        text-decoration: none;
        color: black;
        border-bottom: 2px solid black;
    }

    .home-insentive-selected {
        color: black;
        border-bottom: 2px solid black;
    }
}

.insentives-steps {
    text-align: center;
}

.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;

    display: inline-block;
    margin: 20px 50px;

}

.flip-container:hover .flipper{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 200px;
    height: 200px;
}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 0.6s;

    -moz-transition: 0.6s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;

    .front, .back {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;

        position: absolute;
        top: 0;
        left: 0;

        line-height: 200px;
        text-align: center;

        span {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
        }
    }

    .front {
        z-index: 2;
        background: #3fa9f5;
        color: #fff;
    }

    .back {
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        background: #fff;
    }
}

.insentives-icon {

    display: inline-block;
    margin: 20px 50px;

    
}

.slide-container {
    overflow:hidden;
    position:relative;
    /* the container's height will determine the height of its slider  */
    width: 200px;
}


.slider {
    overflow-y: scroll;
    /* complete liquid height based on the parent's height!! */
    height:200px;
    opacity: 1;

    /* only transition on transform properties which are hardware accelerated = way better performances */
    -webkit-transition:-webkit-transform .3s ease;
       -moz-transition:   -moz-transform .3s ease;
        -ms-transition:    -ms-transform .3s ease;
            transition:        transform .3s ease;
}

.slider { 
    /* visible */
    -webkit-transform: translate(0, 0%);
       -moz-transform: translate(0, 0%);
        -ms-transform: translate(0, 0%);
            transform: translate(0, 0%);

}
.slide-container:hover .slider { 
    /* completely offscreen */
    -webkit-transform: translate(0, -100%);
       -moz-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);
}

.slide-container:hover .background {
    opacity: 1;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 200px;
    text-align: center;

    opacity: 0;
    -webkit-transition: .4s ease-in-out;
       -moz-transition: .4s ease-in-out;
        -ms-transition: .4s ease-in-out;
            transition: .4s ease-in-out;

    span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;

    }
}

.money {
    fill: #7ac943;
}

.health {
    fill: #ff1d25;
}

.track {
    fill: #ff931e;
}

footer {
    border-top: 2px solid black; 
    text-align: center;
    background: #242424;
    color: #fff;
    margin: 0;
    height: 100px;
    padding: 25px;
}



//---------------------------------------------------------------------------
//-------------------------------ABOUT---------------------------------------
//---------------------------------------------------------------------------
// #ff1d25; //red
// #ff7bac; //pink

.about-div {
    min-height: 400px;
    margin: 50px;
    line-height:400px;

    span {
        display: inline-block;
        width: 50%;
        vertical-align: middle;
        line-height: normal;
        text-align: center;
        padding: 80px;
    }

    .about-description {
        display: inline-block;
        width: 48%;
        vertical-align: middle;
        line-height: normal;
        text-align: center;
        padding: 80px;
    }

    .icon {
        display: inline-block;
        width: 48%;
        vertical-align: middle;
        line-height: normal;
        text-align: center;
        padding: 80px;
        float: right;
    }
}

.icon {
    height: 200px;
}

#timeline {
    background: #3fa9f5; //sky blue

}

#vices {
    background: #7ac943; //light green

    .icon {
        float: left;
    }

}

#charts {
    background: #ff931e; //orange
}

.attribution {
    background: #1a1a1a; //dark grey
}

.attribution {
    margin: 0;
    color: #fff;
}
