.index-purchase {
    background: #f5f5f5;
    width: 600px;
    margin: 20px auto;
    transition: box-shadow .2s ease-in-out;
    -moz-transition: box-shadow .2s ease-in-out;
    -webkit-transition: box-shadow .2s ease-in-out;

    .vice-name {
        font-weight: 400;
    }

    .row {
        font-weight: 200;
        font-size: 35px;
        height: 50px;
        text-align: center;
    }

    .column {
        display: inline-block;
        padding: 5px;
    }

    .column-middle {
        display: inline-block;
        padding: 5px 80px;
    }
    .column-bottom {
        display: inline-block;
        padding: 5px 120px;
    }
}

.index-purchase:hover {
    box-shadow: 0 0 15px 2px #bababa;
}

.new-vice {
    max-width: 500px;

    .heading {
        margin: 0 0 15px 0;
    }

    .form-control {
        height: 40px;
        font-size: 20px;
    }

    div {
        margin: 0 0 15px 0;
    }
}

.list-purchases {
    transition: box-shadow .2s ease-in-out;
    -moz-transition: box-shadow .2s ease-in-out;
    -webkit-transition: box-shadow .2s ease-in-out;
}

.list-purchase-box {
    box-shadow: 0 0 15px 2px #bababa;
}



.timeline {
    list-style-type: none;
    max-width: 100%;
    padding: 0;

    .date {
        display: block;
        margin: 0 50% 0 20px;
        padding: 20px 20px 20px 120px;
        text-align: center;
        border-right: 2px solid #aaa;

        .marker {
            background-color: #fff;
            border: 2px solid #aaa;
            height: 40px;
            width: 40px;
            border-radius: 100px;
            display: block;
            float: right;
            margin-right: -40px;
            margin-top: -7px;
            z-index: 200;
            position: relative;
        }
    }

    .info {
        display: block;
        margin: 0 50% 0 20px;
        padding: 0 10px 0 0;
        text-align: right;
        border-right: 2px solid #aaa;
    }

    li {
        position: relative;
        overflow: hidden;
    }

    .content {
        display: none;
    }
}