.index-purchase {
    background: #f5f5f5;
    width: 600px;
    margin: 20px auto;
    transition: box-shadow .2s ease-in-out;
    -moz-transition: box-shadow .2s ease-in-out;
    -webkit-transition: box-shadow .2s ease-in-out;

    .vice-name {
        font-weight: 400;
    }

    .row {
        font-weight: 200;
        font-size: 35px;
        height: 50px;
        text-align: center;
    }

    .column {
        display: inline-block;
        padding: 5px;
    }

    .column-middle {
        display: inline-block;
        padding: 5px 80px;
    }
    .column-bottom {
        display: inline-block;
        padding: 5px 120px;
    }
}

.index-purchase:hover {
    box-shadow: 0 0 15px 2px #bababa;
}

.new-vice {
    max-width: 500px;

    .heading {
        margin: 0 0 15px 0;
    }

    .form-control {
        height: 40px;
        font-size: 20px;
    }

    div {
        margin: 0 0 15px 0;
    }
}

.list-purchases {
    transition: box-shadow .2s ease-in-out;
    -moz-transition: box-shadow .2s ease-in-out;
    -webkit-transition: box-shadow .2s ease-in-out;
}

.list-purchase-box {
    box-shadow: 0 0 15px 2px #bababa;
}

.content {
    display: none;
}


// ------------------------------------------------------------------------
// ------------------------------------------------------------------------
// ------------------------------------------------------------------------

.timeline {
    width: 400px;

    div {
        box-sizing: border-box;
    }

    .timeline-item {
        width: 100%;
    
        .info, .date {
            color: #eee;
            display: block;
            float:left;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            transition: all 1s ease;
        }

        .date {
            font-size: 24px;
            font-weight: bold;
            width: 22%;
        }

        .info {
            width: 100%;
            width: 78%;
            margin-left: -2px;
            padding: 0 0 40px 35px;
            border-left: 4px solid #aaa;
            font-size: 14px;
            line-height: 20px;
        }

        .marker {
            background-color: #fff;
            border: 4px solid #aaa;
            height: 20px;
            width: 20px;
            border-radius: 100px;
            display: block;
            float: right;
            margin-right: -14px;
            z-index: 2000;
            position: relative;

            .dot {
                background-color: white;
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                transition: all 1s ease;
                display: block;
                border: 4px solid white;
                height: 12px;
                width: 12px;
                border-radius: 100px;
                float: right;
                z-index: 2000;
                position: relative;
            }
        }
    }

    .timeline-item.close {

        .info, .date {
            color: #ccc;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            transition: all 1s ease;
        }
    }

    .timeline-item.active, timeline-item:hover {
        .info {
            color: #444;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            transition: all 1s ease;
        }

        .year {
            color: #9DB668;
        }

        .marker {

            .dot {
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                transition: all 1s ease;
                background-color: #9DB668;
                box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
            }
        }
    }
    
}





