.index-purchase {
    background: #f5f5f5;
    width: 600px;
    margin: 20px auto;
    transition: box-shadow .2s ease-in-out;
    -moz-transition: box-shadow .2s ease-in-out;
    -webkit-transition: box-shadow .2s ease-in-out;

    .vice-name {
        font-weight: 400;
    }

    .row {
        font-weight: 200;
        font-size: 35px;
        height: 50px;
        text-align: center;
    }

    .column {
        display: inline-block;
        padding: 5px;
    }

    .column-middle {
        display: inline-block;
        padding: 5px 80px;
    }
    .column-bottom {
        display: inline-block;
        padding: 5px 120px;
    }
}

.index-purchase:hover {
    box-shadow: 0 0 15px 2px #bababa;
}

.new-vice {
    max-width: 500px;

    .heading {
        margin: 0 0 15px 0;
    }

    .form-control {
        height: 40px;
        font-size: 20px;
    }

    div {
        margin: 0 0 15px 0;
    }
}

.list-purchases {
    display: none;
}

